{% extends 'base.html.twig' %}

{% block title %}ACME - Admin{% endblock %}

{% block body %}
<div class="grid grid-cols-5 mx-auto">
    <div class="bg-neutral-400 text-white h-[100vh] text-2xl font-bold">
        <a href="{{ path('app_admin_create_product') }}" class="block my-10 mx-5">Creer</a>
        <a href="{{ path('app_admin_edit_product') }}" class="block my-10 mx-5">Modifier</a>
        <a href="{{ path('app_admin_delete_product') }}" class="block my-10 mx-5">Supprimer</a>
    </div>
    <div class="col-span-4 mx-5">
        <div class="flex justify-center my-5 mx-auto text-2xl gap-10">
            <a href="{{ path('app_admin_create_product') }}">Produit</a>
            <a href="{{ path('app_admin_create_category') }}">Categorie</a>
            <a href="{{ path('app_admin_create_type') }}" class="cursor-default font-bold">TypeOrder</a>
        </div>
        <div id="typeOrder" class="my-10">
            {{ form(form) }}
        </div>
        {% if success %}
            <p>{{ success }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
