{% extends 'base.html.twig' %}

{% block title %}ACME - Admin{% endblock %}

{% block body %}
<div class="grid grid-cols-5 mx-auto">
    <div class="bg-neutral-400 text-white h-[100vh] text-2xl font-bold">
        <a href="{{ path('app_admin_create_category') }}" class="block my-10 mx-5">Creer</a>
        <a href="{{ path('app_admin_edit_category') }}" class="block my-10 mx-5">Modifier</a>
        <a href="{{ path('app_admin_delete_category') }}" class="block my-10 mx-5">Supprimer</a>
    </div>
    <div class="col-span-4 mx-5">
        <div class="flex justify-center my-5 mx-auto text-2xl gap-10">
            <a href="{{ path('app_admin_edit_product') }}">Produit</a>
            <a href="{{ path('app_admin_edit_category') }}" class="cursor-default font-bold">Categorie</a>
            <a href="{{ path('app_admin_edit_type') }}">TypeOrder</a>
        </div>
        <div id="produit" class="my-10">
            {% for category in categories %}
                <a href="{{ path('app_admin_edit_category_id', {id: category.id }) }}" class="underline">{{ category.name }}</a><br/>
            {% endfor %}
        </div>
        {% if success %}
            <p>{{ success }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}